<!-- Plotting Section -->
<div class="collapsible">
    <div class="collapsible-header" onclick="toggleCollapsible(this)">
        <span class="collapsible-title">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <line x1="18" y1="20" x2="18" y2="10"/>
                <line x1="12" y1="20" x2="12" y2="4"/>
                <line x1="6" y1="20" x2="6" y2="14"/>
            </svg>
            Plotting
        </span>
        <svg class="collapsible-icon" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M6 9l6 6 6-6"/>
        </svg>
    </div>
    <div class="collapsible-content">
        <div class="form-row">
            <div class="form-group checkbox-group">
                <input type="checkbox" id="plot" name="plot" checked>
                <label for="plot">Generate plot</label>
            </div>
            <div class="form-group checkbox-group">
                <input type="checkbox" id="only2d" name="only2d">
                <label for="only2d">Only 2D plot</label>
            </div>
            <div class="form-group checkbox-group">
                <input type="checkbox" id="simple_offers_view" name="simple_offers_view">
                <label for="simple_offers_view">Simple offers view</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group checkbox-group">
                <input type="checkbox" id="annotations" name="annotations" checked>
                <label for="annotations">Show annotations</label>
            </div>
            <div class="form-group checkbox-group">
                <input type="checkbox" id="show_agreement" name="show_agreement" checked>
                <label for="show_agreement">Show agreement</label>
            </div>
            <div class="form-group checkbox-group">
                <input type="checkbox" id="end_reason" name="end_reason" checked>
                <label for="end_reason">Show end reason</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group checkbox-group">
                <input type="checkbox" id="pareto_dist" name="pareto_dist" checked>
                <label for="pareto_dist">Pareto distance</label>
            </div>
            <div class="form-group checkbox-group">
                <input type="checkbox" id="nash_dist" name="nash_dist" checked>
                <label for="nash_dist">Nash distance</label>
            </div>
            <div class="form-group checkbox-group">
                <input type="checkbox" id="kalai_dist" name="kalai_dist" checked>
                <label for="kalai_dist">Kalai distance</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group checkbox-group">
                <input type="checkbox" id="max_welfare_dist" name="max_welfare_dist" checked>
                <label for="max_welfare_dist">Max welfare dist</label>
            </div>
            <div class="form-group checkbox-group">
                <input type="checkbox" id="max_rel_welfare_dist" name="max_rel_welfare_dist">
                <label for="max_rel_welfare_dist">Max rel welfare dist</label>
            </div>
            <div class="form-group checkbox-group">
                <input type="checkbox" id="show_reserved" name="show_reserved" checked>
                <label for="show_reserved">Show reserved</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group checkbox-group">
                <input type="checkbox" id="total_time" name="total_time" checked>
                <label for="total_time">Show total time</label>
            </div>
            <div class="form-group checkbox-group">
                <input type="checkbox" id="relative_time" name="relative_time" checked>
                <label for="relative_time">Show relative time</label>
            </div>
            <div class="form-group checkbox-group">
                <input type="checkbox" id="show_n_steps" name="show_n_steps" checked>
                <label for="show_n_steps">Show n. steps</label>
            </div>
        </div>
        <div class="form-group">
            <label for="plot_path">Plot Save Path</label>
            <input type="text" id="plot_path" name="plot_path" placeholder="e.g., ./negotiation_plot.png">
        </div>
    </div>
</div>
